
.background{
  width: 1100px;
  background-color:#ffffff;
  height: 690px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.5),
  0px 2px 4px 0px rgba(0,0,0,0.5);
  resize: both;
}
#phaser-example{
  width: 1080px;
  height: 680px;
  position: relative;
  margin: auto;
  
}


.loa{
   width: 40px;
   height: 40px;
   background-image: url('src/assets/loadai.png');
   background-repeat: no-repeat; 
   background-size: 40px;
   padding-right: 10px;
   display: inline-block;
}

.loa:hover{
  background-color: yellow
}

.input {
    /* border: 5px solid #d98708; */
    font-size: 40px;
    /* border-radius: 5px; */
    width:20px;
    border: 0px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;

}

#inputScene4{
    font-size: 70;
    width:20px;
    text-align: center;
}

.answer{
    border: 5px solid #d98708; 
    position: relative;
    left: 10px;
    border-radius: 5px;
    top: -15px;
    display: inline-block;
}


.layout_question{
  display: flex;
  margin-top: 0px;
  padding: 10px;
  display: inline-block;
  position: relative;

}

#layout_question2, #layout_question3, #layout_question4{
    display: none;
    padding-top: 90px;
    position: relative;
}
#layout_lastquestion, #layout_lastquestion2{
    right: 400px;
 
    display: none;
    padding-top: 60px;
    position:relative;
    
}
.question, #lastques, #lastques2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
    display: inline-block;

}

#lastques, #lastques2{
    font-size: 50px;
}

#button{
    background-image: url('/src/assets/next.png');
    width: 82px;
    height: 45px;
    background-repeat: no-repeat;
}

.word_end_question{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
    display: inline-block;
    padding-left: 10px;
}

.thought {
    display:none;
    background-color:rgb(252, 191, 214);
    padding:20px;
    border-radius:30px;
    min-width:40px;
    max-width:220px;
    min-height:40px;
    margin:20px;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
    margin-left:130px;
    font-size: 25px;
    
  }
  
  #thought1:before,
  #thought1:after,
  #thought2:before,
  #thought2:after,
  #thought3:before,
  #thought3:after {
    content:"";
    background-color:rgb(252, 191, 214);
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:-1;
  }
  #thought1:before, #thought2:before , #thought3:before  {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px rgb(252, 191, 214);
  }
  #thought1:after, #thought2:after,  #thought3:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0 rgb(252, 191, 214),
               -28px -6px 0 -2px rgb(252, 191, 214),
               -24px 17px 0 -6px rgb(252, 191, 214),
               -5px 25px 0 -10px rgb(252, 191, 214);
    
  }

  

  #panelresult1{
    margin-left: 250px;
  }
  #panelresult2, #panelresult3{
    margin-top: 70px;
    margin-left: 250px;
  }

  #returnlink{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;

  }

  #english, #vietnamese{
    position: absolute;
  }
  #vietnamese{
      margin-top: 35px;
  }

  ul{
    list-style-type:none;
  }
  
  .languages {
      font-family: "Source Sans Pro",sans-serif;
      margin: 0;
      padding: 0;
      width: 100px;
      margin-top: 10px;
      margin-left: 850px;
      height:35px;
      position: absolute;
     
  }
  .languages li {
      display: none;
      margin-left: 100px;
  }
  .languages li a, .languages li.active {
      background: none repeat scroll 0 0 #FFC0CB;
      color: #e41414;
      display: block;
      font-size: 0.85em;
      padding: 10px 0;
      text-align: center;
      width: 100px;
  }
  .languages li a:hover, .languages li.active {
      background: none repeat scroll 0 0 #333;
      border: medium none;
      color: #a7a5a5;
  }
  .languages li.active {
      display: block;
      
  }
  
