            * {
                margin: 0px;
                padding: 0px;
                border: none;
            }
            
            .backgr_cell {
                width: 100%;
                height: 100%;
                background-image: url("./images/cell.png");
                position: absolute;
                left: 0px;
                top: 0px;
            }
            
            .backgr_color {
                background-image: url('./images/background1.jpg');
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                background-size: cover;
            }
            
            .backgr_stuff {
                width: 100%;
                height: 100%;
                background-image: url("./images/stuff.png");
                background-repeat: repeat;
                position: absolute;
                left: 0px;
                top: 0px;
            }
            
            .backgr_bg1 {
                width: 100%;
                height: 100%;
                background-image: url("./images/color.png");
                background-repeat: repeat;
                position: absolute;
                left: 0px;
                top: 0px;
            }
            .background{
                width: 1050px;
    background-color:#ffffff;
    height: 660px;
    position: relative;
    margin: auto;
    margin-top: 0px;
    border-radius: 15px;
    box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.5),
    0px 2px 4px 0px rgba(0,0,0,0.5);
              }
            
            .container {
                background-position: center;
            }
            
            #phaserGame {
                width: 1000px;
                height: 620px;
                position: relative;
                margin: auto;
                margin-top: 20px;
            }
            
            #pg {
                width: 1000px;
                height: 45px;
                border-bottom: 1px solid #EDEDED;
                position: absolute;
            }
            
            .icon {
                border: solid darkcyan;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                width: 15px;
                height: 15px;
                position: absolute;
                margin-left: 20px;
                margin-top: 3px;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }
            
            .icon:hover {
                border: solid blue;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                width: 15px;
                height: 15px;
                position: absolute;
                margin-left: 20px;
                margin-top: 3px;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }
            
            #back {
                font-size: 22px;
                font-family: Arial;
                
                margin-top: 10px;
                position: absolute;
                color: darkcyan;
            }
            
            #back:hover {
                color: blue;
            }

            #back{
                font-size: 22px;
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 20px;
                line-height: 50px;
                top: -10px;
              }
              #iconBack{
                border-bottom: 15px solid transparent;
                border-top: 15px solid transparent;
                border-right: 15px solid #246EA1;
                border-radius: 50%;
                position: absolute;
                top: 10px;
                width:0;
                height:0;
              }
              .re{
                background-color: #ffffff;
                transform: rotate(45deg);
                width:14px;
                height:14px;
                position: absolute;
                top:-7px;
                left:8px;
              }