            #question1 {
                display: flex;
                width: 800px;
                height: 50px;
                top: 150px;
                position: absolute;
                left: 250px;
            }
            
            #question2 {
                display: flex;
                width: 800px;
                height: 50px;
                top: 500px;
                position: absolute;
                left: 250px;
            }
            
            #question3 {
                display: none;
                width: 800px;
                height: 50px;
                top: 570px;
                position: absolute;
                left: 400px;
            }
            
            #text1 {
                font-size: 40px;
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 20px;
                display: flex;
                cursor: default;
            }
            
            #text2,
            #text3 {
                font-size: 40px;
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 20px;
                display: flex;
                cursor: default;
            }
            
            #answer1,
            #answer2,
            #answer3 {
                border: 5px solid #dd2244;
                position: relative;
                left: 15px;
                border-radius: 5px;
                display: flex;
            }
            
            #answer1 {
                display: none;
            }
            
            #number1-of-question1,
            #number2-of-question1,
            #number1-of-question2,
            #number2-of-question2,
            #answer3 {
                font-size: 40px;
                width: 30px;
                outline-style: none;
            }
            
            b {
                border-radius: 5px;
                padding: 0px 10px 5px 10px;
            }
            
            #suggestion1 {
                background-color: #f2eec7;
                width: 100px;
                display: none;
                padding: 10px 10px 0px 10px;
                border-radius: 10px;
                position: relative;
                margin-left: 40px;
                cursor: pointer;
            }
            
            #suggestion2 {
                background-color: #f2eec7;
                width: 100px;
                height: 40px;
                display: none;
                padding: 10px 10px 0px 10px;
                border-radius: 10px;
                position: relative;
                margin-top: 70px;
                margin-left: -70px;
                cursor: pointer;
            }
            
            .Write-0 {
                font-size: 22px;
                margin-left: 5px;
            }
            
            .audio {
                width: 40px;
                height: 40px;
                background-image: url('./images/audio-img.png');
                background-repeat: no-repeat;
                background-size: 40px;
                cursor: pointer;
            }
            
            .audio-suggestion {
                width: 25px;
                height: 25px;
                background-image: url('./images/audio-img.png');
                background-repeat: no-repeat;
                background-size: 25px;
                cursor: pointer;
            }