
.loa{
   width: 40px;
   height: 40px;
   background-image: url('src/Assets/loadai.png');
   background-repeat: no-repeat; 
   background-size: 40px;
}
#moc{
    width: 900px;
    height: 45px;
    border-bottom: 1px  solid #EDEDED;
    position: absolute;
    
}
#tbao{
   width: 200px;
   height: 50px;
   background-color: #f2eec7;
   position: absolute;
   top: -162px;
   left: 166px;
   border-radius: 10px;
   display: none;
    }
#text{
 font-size: 19px;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 line-height: 45px;
 margin-left: 46px;
}
#rec{
   width:25px;
   height: 25px;
   transform: rotate(45deg);
   background-color:#f2eec7;
   position:absolute;
   top: 13px;
   left: -11px;
}
#image{
background-image: url('src/Assets/loadai.png');
width: 25px;
height: 25px;
position: absolute;
background-repeat: no-repeat;
background-size: 25px;
background-position: 0px 0px;
top: 10px;
left: 10px;
}
#border{
   width:448px;
   height: 192px;
   border: 10px solid #E05A59;
   border-radius: 36px 10px;
   position: absolute;
   top: -237px;
   left: -315px;
   display: none;
}
.body{
    width: 900px;
    height: 600px;
}
 #number1, #number2,#number3 {
    /* border: 5px solid #d98708; */
    font-size: 40px;
    /* border-radius: 5px; */
    width:20px;
    border: 0px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}
#answer1,#answer2{
    border: 5px solid #d98708; 
   position: relative;
   left:-242px;
    border-radius: 5px;
    display: inline-block;
}
#question1,#question2{
  display: inline-block;
  margin-top: 20px;

}
#question2{
    display:none;
}

#ques1,#ques2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
    left: -251px;
    display: inline-block;

}

