body{
    background-image: url(src/Assets/newbackground.png);
    background-position: center;
   
}
.background{
    width: 1050px;
    background-color:#ffffff;
    height: 660px;
    position: relative;
    margin: auto;
    margin-top: 0px;
    border-radius: 15px;
    box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.5),
    0px 2px 4px 0px rgba(0,0,0,0.5);
}
#phaserGame{
    width: 1024px;
    height: 650px;
    position: relative;
    margin: auto;
    margin-top: 5px;
}
.loa{
   width: 40px;
   height: 40px;
   background-image: url('src/Assets/loadai.png');
   background-repeat: no-repeat; 
   background-size: 40px;
}
#moc{
    width: 1024px;
    height: 45px;
    border-bottom: 1px  solid #EDEDED;
    position: absolute;
    display: flex;
}
#tbao{
   width: 200px;
   height: 50px;
   background-color: #f2eec7;
   position: absolute;
   top: -162px;
   left: 166px;
   border-radius: 10px;
   display: none;
    }
#Countaplle{
 font-size: 19px;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 line-height: 45px;
 margin-left: 46px;
}
#rec{
   width:25px;
   height: 25px;
   transform: rotate(45deg);
   background-color:#f2eec7;
   position:absolute;
   top: 13px;
   left: -11px;
}
#image{
background-image: url('src/Assets/loadai.png');
width: 25px;
height: 25px;
position: absolute;
background-repeat: no-repeat;
background-size: 25px;
background-position: 0px 0px;
top: 10px;
left: 10px;
}
#border{
   width:448px;
   height: 192px;
   border: 10px solid #E05A59;
   border-radius: 36px 10px;
   position: absolute;
   top: -237px;
   left: -315px;
   display: none;
}
.body{
    width: 900px;
    height: 600px;
}
 #number1, #number2,#number3{
    /* border: 5px solid #d98708; */
    font-size: 40px;
    /* border-radius: 5px; */
    width:20px;
    border: 0px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}
#answer1,#answer2{
    border: 5px solid #d98708; 
   position: relative;
   left:-242px;
    border-radius: 5px;
}
#question1,#question2{
  display: flex;
  margin-top: 20px;
}
#question2{
    display:none;
}

#ques1,#ques2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
    left: -251px;

}
.so2{
    position: absolute;
    top: 22px;
    left: -300px;
}
.so3{
    position: absolute;
    top: 93px;
    left: -300px;
}
#english, #vietnamese{
    position: absolute;
  }
  #vietnamese{
      margin-top: 35px;
  }



  ul{
    list-style-type:none;
  }
  
  .languages {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      margin: 0;
      padding: 0;
      width: 100px;
      margin-left: 800px;
      height:35px;
      position: absolute;
     
  }
  .languages li {
      display: none;
      margin-left: 100px;
  }
  .languages li a, .languages li.active {
     
      display: block;
      font-size: 0.85em;
      padding: 10px 0;
      text-align: center;
      width: 100px;
  }
  .languages li a:hover, .languages li.active {
    color: #246EA1;
      border: medium none;
    
  }
  .languages li.active {
      display: block;
      
  }
  



